.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 38px 356px 0 235px;
}

.u-section-1 .u-text-2 {
  margin: 67px 45px 0 66px;
}

.u-section-1 .u-custom-html-1 {
  margin: 30px 45px 60px 66px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 256px;
    margin-left: 135px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 146px;
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}